.text-transform(@a) {
  -webkit-text-transform: @a;
  -moz-text-transform: @a;
  text-transform: @a;
}

.reset-btn-style() {
  background: none;
  border: none;
  outline: none;
}

.box-sizing(@a) {
  -webkit-box-sizing: @a;
  -moz-box-sizing: @a;
  box-sizing: @a;
}
