<!DOCTYPE html>
<html ng-app="phoneBookApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>PhoneBook</title>
  <script defer src="angular.min.js"></script>
  <script defer src="script.js"></script>
</head>
<body ng-controller="phoneBookController">
  <main class="main">
    <h1 class="header"> Телефонная книга </h1>
    <form class="add-contact">
      <input class="add-contact__name" ng-model="pName" placeholder = "Имя" />
      <input class="add-contact__number" ng-model="pNumber" placeholder="Номер" />
      <button class="add-contact__btn" type="button" ng-click="addContact(pName, pNumber)">Добавить</button>
    </form>
    <table class="contacts">
      <tr class="contacts__headers">
        <th>Имя</th>
        <th>Номер</th>
        <th></th>
      </tr>
      <tr class="contacts_item" ng-repeat="item in list.items">
        <td>{{item.name}}</td>
        <td>{{item.number}}</td>
        <td><button ng-click="delContact(item)">Удалить контакт</button></td>
      </tr>
    </table>
  </main>
</body>
</html>
